body{
	background-image: url("https://unsplash.com/photos/69ilqMz0p1s");
	background-size:cover;
}

img{
	align-content: center;
	width:800px;
}

h1{
	color:#362108;
	font-family:Georgia;
	font-size:72px;
	font-weight:bold;
	text-align:center;
}

h2{
	color:#362108;
	font-family:Georgia;
	font-size:48px;
	font-weight:normal;
	font-style:italic;
	text-align:center;
}

h3{
	color:#AD875B;
	font-family:Helvetica;
	font-size:24px;
	font-weight:bold;
	letter-spacing:normal;
	text-align:center;
}

h4{
	color:#AD875B;
	font-family:Helvetica;
	font-size:14px;
	font-weight:bold;
	letter-spacing:normal;
	text-align:center;
}

p{
	color:#362108;
	font-family:Helvetica;
	font-size:16px;
	font-weight:normal;
	letter-spacing:normal;
	text-align:center;
}

hr{
	width:600px;
}