body{
	background:url("https://unsplash.com/photos/69ilqMz0p1s");
	background-size:cover;
}

h1{
	color:white;
	font-family:Georgia;
	font-size:98px;
	font-weight:normal;
	letter-spacing:-.4;
	text-align:center;
}

h2{
	color:white;
	font-family:Georgia;
	font-size:60px;
	font-weight:normal;
	font-style:italic;
	letter-spacing:-.4;
	text-align:center;
}

h3{
	color:white;
	font-family:Helvetica;
	font-size:24px;
	font-weight:normal;
	letter-spacing:normal;
	text-align:center;
}

h3{
	color:#AD875B;
	font-family:Helvetica;
	font-size:24px;
	font-weight:bold;
	letter-spacing:normal;
	text-align:center;
}

p{
	color:#362108;
	font-family:Helvetica;
	font-size:16px;
	font-weight:normal;
	letter-spacing:normal;
	text-align:center;
}